body {
    margin: 0;
    padding: 0;

    font-family: "ProximaNova-Regular", Arial, sans-serif;
    ;
    font-size: 14px;

    background-color: #f3eeea;
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    text-decoration: none;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    display: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.header-menu {
    width: 100%;
    min-height: 120px;
    background-color: #ffffff;
}

.head-background {
    background-image: url(../img/banner.png);
    height: 520px;
    width: 1400px;
    margin: 0 auto;
    position: relative;
}

.background-two {
    background-image: url(../img/desert.jpg);
}

.all-header {
    width: 100%;
    min-height: 520px;
}

.logo {
    position: relative;
    top: 29px;
    left: 17px;
}

.menu-us {
    width: 309px;
    height: 35px;
    background-color: rgba(39, 127, 150, 0.6);
    position: relative;
    top: -42px;
    right: -704px;
}

.wrap-menu {
    width: 13px;
    height: 46px;
    background-image: url(../img/wrap-menu.png);
    position: relative;
    left: 296px;
    top: -29px;
}

.menu-us a {
    font-family: "ProximaNova-light", Arial, sans-serif;
    font-size: 13px;
    display: inline-block;
    padding: 4px 10px;
}

.menu-us a:first-child {
    padding-left: 13px;
}

.search-popup {
    position: relative;
    right: -50px;
    top: 5px;
}

.site-navigation a {
    font-family: "ProximaNova-Regular", Arial, sans-serif;
    font-size: 15px;
    color: #668333;
    text-transform: uppercase;
    padding: 27px;
}

.site-navigation {
    position: relative;
    right: -501px;
    bottom: 17px;
    width: 670px;
}

.site-navigation .nav-active {
    color: #4999af;
}

.welcome {
    margin-top: 204px;
    width: 459px;
    height: 157px;
    background-color: rgba(16, 129, 160, 0.8);
}


.welcome h2 {
    font-family: "ProximaNova-light", Arial, sans-serif;
    font-size: 34px;
    font-weight: lighter;
    color: #ffffff;
    display: block;
    padding-top: 17px;
    padding-left: 18px;
}

.welcome h2 b {
    font-family: "ProximaNova-Bold", Arial, sans-serif;
}

.arrow-left {
    width: 49px;
    height: 90px;
    background-image: url(../img/banner-left.png);
    opacity: 0.9;
    position: absolute;
    border: none;
    left: 0;
    top: 223px;
    cursor: pointer;
}

.arrow-right {
    width: 49px;
    height: 90px;
    background-image: url(../img/banner-right.png);
    position: absolute;
    border: none;
    right: 0;
    top: 223px;
    cursor: pointer;
}

.nav-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 29px;
}

.nav-info article {
    width: 320px;
    height: 200px;
    position: relative;
}

.nav-stories {
    background-image: url(../img/pic.png);
}

.nav-online {
    background-image: url(../img/pic-2.png);
}

.nav-prayer {
    background-image: url(../img/pic-3.png);
}

.nav-info article h3 {
    font-family: "ProximaNova-Bold", Arial, sans-serif;
    font-size: 45px;
    text-transform: uppercase;

    text-shadow: 1px 1px 4px #000000;
    opacity: 0.9;
    color: #ffffff;

    position: absolute;
    top: 47px;
    right: 20px;
}

.nav-text {
    width: 263px;
    heignt: 47px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.nav-text p {
    font-family: "ProximaNova-Regular", Arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
    padding: 13px;
    padding-left: 20px;
    padding-top: 14px;
    margin: 0;
}

.nav-online .nav-text p {
    padding-left: 26px;
}

.nav-prayer .nav-text p {
    padding-left: 23px;
}

.circle {
    position: absolute;
    bottom: 9px;
    right: 12px;
    width: 24px;
    height: 24px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.circle svg {
    position: relative;
    top: 5px;
    left: 5px;
}

.nav-stories div {
    background-color: rgba(26, 128, 156, 0.8);
}

.nav-online div {
    background-color: rgba(115, 149, 50, 0.8);
}

.nav-prayer div {
    background-color: rgba(238, 93, 69, 0.8);
}

.events {
    display: inline-block;
}

.events h3,
.text h3 {
    font-family: "ProximaNova-Regular", Arial, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    color: #4999af;
}

.events-text {
    display: block;
    padding: 0;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 31px;
}

.events-text article {
    padding: 0;
    margin: 0;
    width: 480px;
}

.event {
    max-width: 480px;
    min-height: 76px;
    border-top: 1px solid #d2cdc9;
    display: flex;
    position: relative;
}

.date {
    display: flex;
    flex-direction: column;
}

.date span {
    color: #668333;
}

.date span:first-child {
    font-size: 32px;
    padding-top: 8px;
}

.date span:last-child {
    font-family: "ProximaNova-light", Arial, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    position: absolute;
    bottom: 18px;
    left: 3px;
    text-transform: uppercase;
}

.day {
    display: flex;
    flex-direction: column;
    padding-left: 17px;
    padding-top: 17px;
    text-align: center;
}

.day span {
    color: #f1715e;
    text-transform: uppercase;
    font-size: 17px;
}

.day time {
    position: relative;
    top: 1px;
    right: 11px;
    color: #5f5f5f;
}

time b {
    font-family: "ProximaNova-semibold", Arial, sans-serif;
    font-size: 13px;
}

.more {
    width: 90px;
    height: 33px;
    border: none;
    background-color: #4999af;
    border-radius: 4px;

    color: #f3eeea;
    text-transform: uppercase;
    font-size: 15px;

    position: absolute;
    top: 20px;
    right: 0;
}

.text {
    float: right;
}

.text a {
    font-family: "ProximaNova-semibold", Arial, sans-serif;
    color: #f1715e;
    text-transform: uppercase;
    font-size: 14px;
}

.footer-background {
    background-color: #525252;
    height: 224px;
    width: 1400px;
    margin: 0 auto;
    position: relative;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-top article {
    width: 320px;
    height: 140px;
}

.sub {}

.sub h3,
.serv-time h3,
.social h3 {
    font-family: "ProximaNova-Regular", Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-weight: lighten;
    text-transform: uppercase;
    color: #f3eeea;

    padding-top: 10px;
}

.subscribe {
    border: none;
    background-color: #4999af;
    border-radius: 4px;
    width: 274px;
    height: 37px;
    cursor: pointer;

    font-family: "MyriadProRegular", Arial, sans-serif;
    font-size: 18px;
    color: #f3eeea;
    text-transform: uppercase;
}

.serv-time {
    padding-left: 50px;
}

.serv-time p {
    font-family: "ProximaNova-semibold", Arial, sans-serif;
    font-size: 20px;
    color: #f3eeea;

    padding-top: 5px;
}

.serv-time p:last-child {
    font-size: 12px;
    color: #b3b3b3;
    position: relative;
    bottom: 24px;
}

.social {
    text-align: center;
}

.footer-social {
    display: flex;
    flex-direction: row;
    padding-top: 9px;
    padding-left: 66px;
}

.footer-social li {
    padding: 0 4px;
}

.footer-bottom {
    margin-top: 19px;
    border-top: 1px solid #6b6b6a;
}

.footer-bottom p {
    font-family: "MyriadProRegular", Arial, sans-serif;
    font-size: 12px;
    color: #b3b3b3;
    padding-top: 4px;
}

.popup-dark {
    width: 100%;
    height: 3000px;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;

    display: none;
}

.popup-window {
    width: 460px;
    height: 345px;
    background-color: #ffffff;
    box-shadow: 0 0 20px 1px #000000;

    position: absolute;
    top: 191px;
    left: 39%;
}

.popup-close {
    width: 14px;
    height: 14px;
    font-size: 0;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    border: none;
    right: 14px;
    top: 8px;
}

.popup-close::before,
.popup-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -2px;
    width: 20px;
    height: 2px;
    background-color: #272727;
}

.popup-close::before {
    transform: rotate(45deg);
}

.popup-close::after {
    transform: rotate(-45deg);
}

.popup-window article h3 {
    color: #4999af;
    font-size: 24px;
    text-transform: uppercase;
}

.sub-popup {
    width: 380px;
    height: 280px;
    padding-top: 16px;
    padding-left: 40px;
}

.sub-popup p {
    font-family: "MyriadProRegular", Arial, sans-serif;
    font-size: 16px;
    color: #969595;
    padding-top: 2px;
}

.sub-email {
    width: 360px;
    height: 53px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 1px #969595;

    font-family: "MyriadProRegular", Arial, sans-serif;
    font-size: 22px;
    color: #999999;
    padding-left: 15px;
}

form p {
    font-family: "MyriadProRegular", Arial, sans-serif;
    font-size: 14px;
    color: #969595;
    font-style: italic;
}

form .subscribe {
    width: 240px;
    height: 50px;
    margin-left: 66px;

    font-family: "ProximaNova-Regular", Arial, sans-serif;
    font-size: 18px;
    color: #f3eeea;
}

.popup-show {
    display: block;
}

@media (max-device-width: 1024px) {
    .menu-us a {
        font-size: 24px;
    }

    .menu-us {
        width: 430px;
        height: 40px;
        left: 583px;
    }

    .wrap-menu {
        position: relative;
        left: 417px;
        top: -35px;
    }

    .site-navigation {
        right: -366px;
    }

    .site-navigation a {
        font-family: "ProximaNova-Regular", Arial, sans-serif;
        font-size: 24px;
        color: #668333;
        text-transform: uppercase;
        padding: 27px;
    }

    main {
        margin-left: 19%;
    }

    .nav-info {
        width: 1000px;
    }

    .nav-text {
        width: 320px;
        height: 56px;
    }

    .nav-text p {
        font-size: 21px;
    }

    .circle {
        bottom: 14px;
        right: 10px;
    }

    .events-text {
        width: 1000px;
    }

    .events-text article {
        padding: 0;
        margin: 0;
        width: 470px;
    }

    .day span {
        font-size: 25px;
    }

    .day time {
        font-size: 22px;
        top: 1px;
        right: 11px;
    }

    time b {
        font-size: 23px;
    }

    .date span:first-child {
        font-size: 34px;
        padding-top: 12px;
    }

    .date span:last-child {
        font-size: 24px;
        position: absolute;
        bottom: 2px;
        left: -1px;
    }

    .more {
        width: 120px;
        height: 45px;

        font-size: 25px;

        position: absolute;
        top: 20px;
        right: 0;
    }

    .text p {
        font-size: 23px;
    }

    .text a {
        font-size: 24px;
    }

    .events h3,
    .text h3 {
        font-size: 30px;
    }




    .footer-top article {
        width: 500px;
        height: 200px;
    }

    .sub h3,
    .serv-time h3,
    .social h3 {
        font-size: 30px;
    }

    .subscribe {
        width: 300px;
        height: 50px;

        font-size: 27px;
    }


    .serv-time p {
        font-size: 30px;
    }

    .serv-time p:last-child {
        font-size: 22px;

        bottom: 29px;
    }

    .footer-social li {
        padding-right: 5px;

    }

    .footer-social li img {
        width: 45px;
        height: 45px;
    }

    .footer-background {
        height: 300px;

    }

    .footer-bottom {
        margin-top: 40px;

    }


    .footer-bottom p {
        font-size: 20px;
    }

    footer {
        padding-top: 440px;
    }

    .popup-window {
        width: 460px;
        height: 490px;

        position: absolute;
        top: 191px;
        left: 30%;
    }

    .popup-window article h3 {
        font-size: 30px;
    }

    .sub-popup p {
        font-size: 25px;
        padding-top: 2px;
    }

    .sub-email {
        width: 360px;
        height: 53px;

        font-size: 26px;
        padding-left: 15px;
    }

    .sub-popup p {
        font-size: 24px;
        padding-top: 2px;
    }

    form .subscribe {
        width: 300px;
        height: 70px;
        margin-left: 45px;

        font-size: 24px;
    }

    .popup-close {
        width: 45px;
        height: 45px;
        right: 14px;
        top: 24px;
    }

    .popup-close::before,
    .popup-close::after {
        top: 10px;
        left: -2px;
        width: 40px;
        height: 6px;
    }

    form p {
        font-size: 22px;
        color: #969595;
        font-style: italic;
    }
}



@media (max-device-width: 375px),
(max-device-width: 414px) {

    .container-top {
        width: 2000px;
        margin: 0;
    }

    .header-menu {
        width: 1500px;
        min-height: 140px;

        position: relative;
        right: 35px;
    }

    .all-header {
        width: 1500px;
        position: relative;
        left: 25px;
        min-height: 520px;
    }

    .head-background {
        position: relative;
        width: 1500px;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
    }

    .logo {
        position: relative;
        top: 35px;
        left: 20px;
    }

    .wrap-menu {
        width: 0;
        height: 0;

        position: absolute;
    }


    .menu-us {
        width: 697px;
        height: 65px;
        position: relative;
        top: -42px;
    }

    .search-popup svg {
        width: 0;
        height: 0;

        position: absolute;
    }

    .menu-us a {
        font-size: 43px;
        padding: 4px 10px;
    }

    .menu-us a:first-child {
        padding-left: 13px;
    }


    .site-navigation a {
        font-size: 40px;
        color: #668333;
        text-transform: uppercase;
        padding: 27px;
    }

    .site-navigation {
        position: relative;
        right: -201px;
        bottom: 17px;
        width: 900px;
    }

    .welcome {
        margin-top: 204px;
        width: 500px;
        height: 250px;
        position: relative;
        left: 80px;
        bottom: 130px;
    }


    .welcome h2 {
        font-family: "ProximaNova-light", Arial, sans-serif;
        font-size: 46px;
        font-weight: lighter;
        color: #ffffff;
        display: block;
        padding-top: 17px;
        padding-left: 18px;
    }


    .arrow-left {
        width: 49px;
        height: 90px;
        background-image: url(../img/banner-left.png);
        opacity: 0.9;
        position: absolute;
        border: none;
        left: 50px;
        top: 223px;
        cursor: pointer;
    }

    .arrow-right {
        width: 49px;
        height: 90px;
        background-image: url(../img/banner-right.png);
        position: absolute;
        border: none;
        right: 50px;
        top: 223px;
        cursor: pointer;
    }

    .nav-info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 29px;
        padding-top: 10px;
        margin-left: 165px;
    }

    .nav-info article {
        width: 800px;
        height: 400px;
        position: relative;
        margin-top: 40px;
    }

    .nav-stories {
        background-image: url(../img/pic.png);
        background-repeat: no-repeat;
        background-size: 100%
    }

    .nav-online {
        background-image: url(../img/pic-2.png);
        background-repeat: no-repeat;
        background-size: 100%
    }

    .nav-prayer {
        background-image: url(../img/pic-3.png);
        background-repeat: no-repeat;
        background-size: 100%
    }


    .nav-info article h3 {
        font-size: 100px;
        text-transform: uppercase;

        text-shadow: 1px 1px 10px #000000;
        opacity: 0.9;

        position: absolute;
        top: 47px;
        right: 20px;
    }

    .nav-text {
        width: 750px;
        heignt: 300px;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .nav-text p {
        font-size: 55px;
        color: #ffffff;
        padding: 13px;
        padding-left: 60px;
        padding-top: 14px;
        margin: 0;
    }

    .nav-online .nav-text p {
        padding-left: 60px;
    }

    .nav-prayer .nav-text p {
        padding-left: 60px;
    }

    .circle {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    .circle svg {
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
    }

    .nav-stories .nav-text {
        background-color: rgba(26, 128, 156, 0.8);
        width: 800px;
        height: 110px;
    }

    .nav-online .nav-text {
        background-color: rgba(115, 149, 50, 0.8);
        width: 800px;
        height: 110px;
    }

    .nav-prayer .nav-text {
        background-color: rgba(238, 93, 69, 0.8);
        width: 800px;
        height: 110px;
    }

    .events {
        display: block;
    }

    .events h3,
    .text h3 {
        font-size: 55px;
    }

    .events h3 {
        padding-left: 100px;
    }

    .events-text {
        display: block;
        padding: 0;
        margin: 0;
        padding-top: 6px;
        padding-bottom: 31px;
    }

    .events-text article {
        padding: 0;
        margin: 0;
        width: 900px;
    }

    .event {
        max-width: 900px;
        left: 100px;
    }

    .date span:first-child {
        font-size: 90px;
        padding-top: 8px;
    }

    .date span:last-child {
        font-size: 40px;
        position: absolute;
        bottom: -20px;
        left: 3px;
    }

    .day span {
        font-size: 50px;
    }

    .day time {
        top: 1px;
        right: 11px;
        font-size: 50px;
    }

    time b {
        font-size: 50px;
    }

    .more {
        width: 300px;
        height: 70px;

        font-size: 60px;

        top: 40px;
        right: 0;
    }

    .text a {
        font-size: 43px;
    }

    .text p {
        font-size: 40px;
    }

    footer {
        margin-top: 990px;
    }

    .footer-background {
        min-height: 1200px;
        width: 1500px;
        position: relative;
    }

    .footer-top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer-top article {
        width: 600px;
        height: 240px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 70px;
    }

    .sub h3,
    .serv-time h3,
    .social h3 {
        font-size: 50px;

        padding-top: 0;
    }

    .subscribe {
        width: 450px;
        height: 90px;

        font-size: 45px;
    }

    .serv-time {
        padding: 0;
    }

    .serv-time p {
        font-size: 45px;
        padding-top: 0;
    }

    .serv-time p:last-child {
        font-size: 40px;
        bottom: 27px;
    }

    .social {
        text-align: center;
    }

    .footer-social {
        display: flex;
        flex-direction: row;
        padding-top: 9px;
        padding-left: 0;
    }

    .footer-social li {
        padding: 0 40px;
        width: 40px;
        height: 40px;
    }

    .footer-bottom p {
        font-size: 43px;
    }

    .popup-dark {
        width: 100%;
        height: 6000px;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        position: fixed;
        top: 0px;

        display: none;
    }

    .popup-window {
        width: 1000px;
        height: 1100px;

        position: absolute;
        top: 191px;
        left: 24%;
    }

    .popup-close {
        width: 45px;
        height: 45px;
        right: 14px;
        top: 24px;
    }

    .popup-close::before,
    .popup-close::after {
        top: 10px;
        left: -2px;
        width: 40px;
        height: 6px;
    }

    .popup-close::before {
        transform: rotate(45deg);
    }

    .popup-close::after {
        transform: rotate(-45deg);
    }

    .popup-window article h3 {
        font-size: 65px;
    }

    .sub-popup {
        width: 800px;
        height: 980px;
        padding-top: 16px;
        padding-left: 120px;
    }

    .sub-popup p {
        font-size: 56px;
        padding-top: 2px;
    }

    .sub-email {
        width: 560px;
        height: 90px;
        font-size: 52px;
        padding-left: 15px;
    }

    form p {
        font-size: 54px;
    }

    form .subscribe {
        width: 640px;
        height: 130px;
        margin-left: 66px;

        font-size: 58px;
    }

    .popup-show {
        display: block;
    }

}

@media (max-device-width: 375px) {
    .menu-us {
        right: -900px;
    }

    .head-background {
        right: 30px;
    }

    footer {
        padding-top: 600px;
    }
}